# Dependencies & Cloned VS Code Fork
node_modules/
vscode-falkon-dev-kit/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Tauri & Rust Build Files
src-tauri/target/
src-tauri/gen/
src-tauri/.cargo/
target/
*.rs.bk

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build and Dist Outputs
dist/
release/
out/
build/
*.exe
*.dll
*.pdb
*.dylib
*.so
*.dmg
*.AppImage
*.deb
*.rpm
*.msi

# IDEs, Editors & Tooling
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp

# Environment & Secrets
.env
.env.*
!.env.example

# Local history & Logs
.history/
*.log
